
.navbarHeading {
    height: 250px;
    background-color: #777777;
}

.headingPosition {
   margin-Left:270px;
   margin-Bottom: 80px;
}

.heading {
    font-size: 140px;
    font-family: 'Times New Roman', Times, serif;
}

.formContainer {
    background-color: #350b5c;
    border-radius: 12px;
    color: white;
}

.formContainer h3 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.newAccBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}